/Awk.class
/Bash_196.class
/Bash_5.class
/Bash_i.class
/Bash_readline.class
/Bash_udp.class
/Busybox_nce.class
/C.class
/CTCP_Client.class
/C_Bashi.class
/C_Windows.class
/Crystal_code.class
/Crystal_system.class
/Dart.class
/Golang.class
/Groovy.class
/Haskell1.class
/Java_1.class
/Java_2.class
/Java_3.class
/Java_two_way.class
/Java_web.class
/Javascript.class
/Lua_1.class
/Lua_2.class
/NCAT_EXE.class
/Nc_c.class
/Nc_e.class
/Nc_exe_e.class
/Nc_mkfifo.class
/Ncat_e.class
/Ncat_udp.class
/Node_js.class
/Node_js2.class
/PentestMonkey.class
/Perl.class
/PerlPentestMonkey.class
/Perlnosh.class
/PhpPentestMonkey.class
/Php_Sincek.class
/Php_System.class
/Php__.class
/Php_cmd.class
/Php_cmd2.class
/Php_cmd_small.class
/Php_exec.class
/Php_passthru.class
/Php_popen.class
/Php_procopen.class
/Php_shell_Exec.class
/Powershell_1.class
/Powershell_2.class
/Powershell_3.class
/Powershell_4.class
/Python3_1.class
/Python3_2.class
/Python3_Windows.class
/Python3_shortest.class
/Python_1.class
/Python_2.class
/Ruby_1.class
/Ruby_no_sh.class
/Rustcat.class
/Socat_1.class
/Socat_2_tty.class
/Sqlite3_nc_mkfifo.class
/Telnet.class
/Vlang.class
/Windows_conpty.class
/Zsh.class
